<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
<script>
	var fields = "$top=1000&$orderby=RegionCode";
	var fields2 = "$top=1000&$orderby=ID&$select=Role,RegionCode,CostCenterIDId,User/Title&$expand=User/Id";
	var loadidx = 0;
	var scoretable = {};
	
	function procData(data)
	{
		updateLoading();
		for(var d in data.value)
		{
			var dval = data.value[d];
			var row = "<tr id='cc"+ dval.ID +"'>";
			row += "<td class='cc-code'>" + dval.CostCenterCode + "</td>";
			row += "<td class='cc-name'>" + dval.CostCenterName + "</td>";
			row += "<td class='cc-region'>" + dval.RegionCode + "</td>";
			row += "<td class='cc-supervisor' data-role='Supervisor'>" + "" + "</td>";
			row += "<td class='cc-first-analyst' data-role='First Analyst'>" + "" + "</td>";
			row += "<td class='cc-department-manager' data-role='Department Manager'>" + "" + "</td>";
			row += "<td class='cc-second-analyst' data-role='Second Analyst'>" + "" + "</td>";
			row += "<td class='cc-department-vp' data-role='Department VP'>" + "" + "</td>";
			row += "<td class='cc-vp-finance' data-role='VP Finance'>" + "" + "</td>";
			row += "<td class='cc-exec-vp' data-role='Exec VP'>" + "" + "</td>";
			row += "</tr>";
			$("#cc-table").append(row);
		}
		if(data["odata.nextLink"])
		{
			$.getJSON(data["odata.nextLink"], procData);
		}
		else 
		{
			getApproverData();
		}
	}
	function updateLoading()
	{
		$("#spinner").css("transform", "rotate(" + (++loadidx * 10) + "deg)");
	}
	function procApproverData(data)
	{
		updateLoading();
		for(var d in data.value)
		{
			var dval = data.value[d];
			var ccrow = $("#cc" + dval.CostCenterIDId);
			var cccol = $(ccrow).find("[data-role='" + dval.Role + "']");
			if(cccol.length == 0)
				continue;
			
			$(cccol).html(dval.User.Title);
		}
		if(data["odata.nextLink"])
		{
			$.getJSON(data["odata.nextLink"], procApproverData);
		}
		else
		{
			$("#loading").hide();
		}
	}
	function getApproverData()
	{
		updateLoading();
		$.getJSON("https://workflow.newbalance.com/_api/web/lists/getbytitle('UserOnRoleCostCenter')/items?" + fields2, procApproverData);
	}
	$.getJSON("https://workflow.newbalance.com/_api/web/lists/getbytitle('Cost Center Master')/items?" + fields, procData);
</script>
<style>
	#loading{
		font-family:sans-serif;
		font-size:20px;
	}
       #spinner{
           display:inline-block;
       }
</style>
<div id="loading">Loading <span id="spinner">&#9864;</span></div>
<table id="cc-table">
	<tr>
		<th colspan="3">&nbsp;</th>
		<th>$0 - <$10k</th>
		<th>$0 - <$10k</th>
		<th>>$10k - <$50k</th>
		<th>>$10k - <$50k</th>
		<th>>$50k - <$100k</th>
		<th>>$100k - <$250k</th>
		<th>>$100k - <$250k</th>
	</tr>
	<tr>
		<th>Cost Center Code</th>
		<th>CC Name</th>
		<th>Region</th>
		<th>Supervisor</th>
		<th>First Analyst</th>
		<th>Department Manager</th>
		<th>Second Analyst</th>
		<th>Department VP</th>
		<th>VP Finance</th>
		<th>Exec VP</th>
	</tr>
	<tr style="display:none" id="new-item">
		<td class="cc-code">.</td>
		<td class="cc-name">.</td>
		<td class="cc-region">.</td>
		<td class="cc-supervisor" data-role="Supervisor">.</td>
		<td class="cc-first-analyst" data-role="First Analyst">.</td>
		<td class="cc-department-manager" data-role="Department Manager">.</td>
		<td class="cc-second-analyst" data-role="Second Analyst">.</td>
		<td class="cc-department-vp" data-role="Department VP">.</td>
		<td class="cc-vp-finance" data-role="VP Finance">.</td>
		<td class="cc-exec-vp" data-role="Exec VP">.</td>
	</tr>
</table>